apiVersion: v1
data:
  log4cxx.properties: |
    log4cxx::helpers::Properties properties;
    properties.setProperty(L"log4j.rootLogger",L"${LOGLEVEL_ROOT}");
    properties.setProperty(L"log4j.appender",L"ca");
    properties.setProperty(L"log4j.appender",L"fa");
  log4j.properties: |
    log4j.rootLogger=${LOGLEVEL_ROOT}, CON

    log4j.appender.CON=org.apache.log4j.ConsoleAppender
    log4j.appender.CON.layout=org.apache.log4j.PatternLayout
    log4j.appender.CON.layout.ConversionPattern=%d{dd MMM yyyy HH:mm:ss,SSS} %-6p [%-15t] %c - %m%n

    log4j.logger.com.exactpro.th2=${LOGLEVEL_JAVA}
    log4j.logger.com.exactpro.evolution=${LOGLEVEL_JAVA}
    log4j.logger.com.exactpro.cradle=${LOGLEVEL_JAVA}
    log4j.logger.com.exactpro.sf=${LOGLEVEL_JAVA}

    log4j.logger.io.fabric8.kubernetes.client.informers.cache=${LOGLEVEL_JAVA}
  log4py.conf: |
    [loggers]
    keys=root,th2_common,pika
   
    [handlers]
    keys=consoleHandler
   
    [formatters]
    keys=formatter
   
    [logger_root]
    level=${LOGLEVEL_ROOT}
    handlers=consoleHandler
    propagate=0
   
    [logger_th2_common]
    level=${LOGLEVEL_PYTHON}
    qualname=th2_common
    handlers=consoleHandler
    propagate=0
   
    [logger_pika]
    level=${LOGLEVEL_PYTHON}
    qualname=pika
    handlers=consoleHandler
    propagate=0
   
    [handler_consoleHandler]
    class=StreamHandler
    formatter=formatter
    args=(sys.stdout,)
   
    [formatter_formatter]
    format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
kind: ConfigMap
metadata:
  name: logging-config-template
