---
- hosts: localhost
  gather_facts: false
  connection: local
  name: th2 deployment

  tasks:
    - name: Add helm repositories
      community.kubernetes.helm_repository:
        name: "{{ item.key }}"
        repo_url: "{{ item.value }}"
      with_dict:
        flux: https://charts.fluxcd.io
        ingress-nginx: https://kubernetes.github.io/ingress-nginx
        loki: https://grafana.github.io/loki/charts
        stable: https://charts.helm.sh/stable

    - name: Ensure k8s namespaces exist
      kubernetes.core.k8s:
        api_version: v1
        kind: Namespace
        name: "{{ item }}"
        state: present
      with_items:
        - service
        - monitoring

    - name: Deploy ingress-nginx controller
      kubernetes.core.helm:
        name: ingress
        chart_ref: ingress-nginx/ingress-nginx
        chart_version: 3.12.0
        release_namespace: service
        values_files: "{{ playbook_dir }}/../example-values/ingress.values.yaml"
        create_namespace: true
        wait: true

    - name: Deploy ScyllaDB
      community.kubernetes.k8s:
        namespace: service
        state: present
        src: "{{ playbook_dir }}/scylla.yaml"

    - name: Mocking prometheus operator
      kubernetes.core.k8s:
        state: present
        template: "{{ playbook_dir }}/deploy/crd-servicemonitor.yaml"

    - name: Generate an OpenSSH private key
      community.crypto.openssl_privatekey:
        path: "{{ playbook_dir }}/id_ssh_rsa"

    - name: Generate an OpenSSL public key in OpenSSH format
      community.crypto.openssl_publickey:
        format: OpenSSH
        path: "{{ playbook_dir }}/id_ssh_rsa.pub"
        privatekey_path: "{{ playbook_dir }}/id_ssh_rsa"

    - name: Create infra-mgr secret (private key)
      kubernetes.core.k8s:
        state: present
        template: "{{ playbook_dir }}/deploy/infra-mgr-secret.yaml"
        namespace: service

    - name: Create public key to infra-git
      kubernetes.core.k8s:
        state: present
        template: "{{ playbook_dir }}/deploy/keys-repo-configmap.yaml"
        namespace: service

    - name: Create infra-git persistent volume
      kubernetes.core.k8s:
        state: present
        template: "{{ playbook_dir }}/deploy/infra-repo-pv.yaml"
        namespace: service

    - name: Create Cassandra configmap
      kubernetes.core.k8s:
        state: present
        template: "{{ playbook_dir }}/deploy/cassandra/cassandra-configmap.yaml"
        namespace: service

    # - name: Cassandra Init
    #   kubernetes.core.k8s:
    #     state: present
    #     template: "{{ playbook_dir }}/deploy/cassandra/initdb.yaml"
    #     namespace: service

    - name: Deploy th2-infra
      kubernetes.core.helm:
        name: th2-infra
        chart_ref: "{{ playbook_dir }}/../th2-service/"
        release_namespace: service
        release_values:
          infraGit:
            internal: true
          externalRabbitMQHost:
            host: localhost
          rabbitmq:
            rabbitmqUser: th2
            rabbitmqPassword: test
            persistentVolume:
              enabled: false
          cassandra:
            host: scylla-headless.service.svc.cluster.local
            jvm:
              maxHeapSize: 1G
              newHeapSize: 800M
            internal: false
          infraMgr:
            git:
              repository: ssh://git@infra-git:22/home/git/repo/e2e-test-schema.git
              #          infraOperator:
              #            config:
              #              chart:
              #                git: https://github.com/th2-net/infra-operator-tpl.git
              #                ref: release-v0.7.1
              #                path: ./
        values_files:
          "{{ playbook_dir }}/../example-values/service.values.yaml"
          # - ./secrets.yaml
        create_namespace: true
        wait: true