name: Build infra-repo
on:
  workflow_dispatch:
  pull_request:
    branches:
      - release-v*
  push:
    tags:
      - "*-infra-repo"
    paths:
      - "infra-repo/**"
      - "box-chart/**"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.4.1

      - name: Copy box-chart into build context
        run: |
          cp -r ./box-chart ./infra-repo/

      - name: set up docker buildx plugin
        uses: docker/setup-buildx-action@v1

      - name: log in to github container registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: Read infra version
        id: chart
        uses: KJ002/read-yaml@main
        with:
          file: "./chart/Chart.yaml"
          key-path: '["version"]'

      - name: build image & push to registry
        id: build
        uses: docker/build-push-action@v2
        with:
          file: ./infra-repo/Dockerfile
          context: ./infra-repo/
          push: true
          tags: ghcr.io/th2-net/infra-repo:${{ steps.chart.outputs.data }}
          cache-from: type=registry,ref=ghcr.io/th2-net/infra-repo:buildcache
          cache-to: type=registry,ref=ghcr.io/th2-net/infra-repo:buildcache,mode=max

      - name: Update Image Version in the related HelmChart values.yaml
        uses: fjogeleit/yaml-update-action@main
        with:
          valueFile: 'chart/values.yaml'
          propertyPath: 'infraRepo.image.tag'
          value: "${{ steps.chart.outputs.data }}:${{ steps.build.outputs.digest }}"
          branch: infra-repo-${{ github.event.pull_request.head.ref }}
          targetBranch: ${{ github.event.pull_request.head.ref }}
          createPR: true
          message: 'Update Image Version to ${{ steps.image.outputs.version }}'
