name: e2e test with kind

on:
  pull_request:
    paths:
      - "ci/**"
      - "example-values/**"
      - "th2-service/**"
      - ".github/workflows/e2e-test.yml"
  workflow_dispatch:
    inputs:
      infraNamespace:
        description: "Infra namespace"
        default: "service"
        type: string
      schemaNamespace:
        description: "Infra namespace"
        default: "th2-v150"
        type: string

env:
  INFRA_NAMESPACE: "${{ github.event.inputs.infraNamespace }}"
  MONITORING_NAMESPACE: monitoring
  SCHEMA_NAMESPACE: "${{ github.event.inputs.schemaNamespace }}"

jobs:
  deploy-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.1.0
        with:
          config: ./ci/kind-cluster.yaml
          version: v0.11.0
          node_image: kindest/node:v1.20.7@sha256:e645428988191fc824529fd0bb5c94244c12401cf5f5ea3bd875eb0a787f0fe9

      - name: Install python and ansible dependencies
        run: |
          ansible-galaxy collection install community.crypto:==1.3.0 community.kubernetes:==1.1.1
          pip install kubernetes==12.0.0

      - name: Run th2-infra deployment via Ansible
        env:
          E2E_PRIVATE_KEY: ${{ secrets.E2E_PRIVATE_KEY }}
        run: |
          ANSIBLE_STDOUT_CALLBACK=yaml ansible-playbook ./ci/e2e-via-ssh-deployment-playbook.yaml -e 'ansible_python_interpreter=/usr/bin/python3'
          kubectl get pods --all-namespaces

      - name: Testing
        run: |
          cd ./ci
          go test th2_infra_test.go

      - name: Getting logs
        if: always()
        run: |
          echo -e "\n[Pods]" && kubectl get pods --all-namespaces || true
          echo -e "\n[Services]" && kubectl get svc --all-namespaces || true
          echo -e "\n[Ingresses]" && kubectl describe ingress --all-namespaces || true
          echo -e "\n[HelmReleases]" && kubectl get hr --all-namespaces || true
          echo -e "\n[Nodes]" && kubectl describe nodes || true
          echo -e "\n[Configmaps]" && kubectl get configmaps --all-namespaces || true
          echo -e "\n[Secrets]" && kubectl get secrets --all-namespaces || true

          for D in $(kubectl -n $INFRA_NAMESPACE get deployments --no-headers -o custom-columns=":metadata.name")
          do
            kubectl -n $INFRA_NAMESPACE logs deployment/$D > $D.log || true
          done
          kubectl -n $INFRA_NAMESPACE logs cassandra-0 > cassandra.log || true
          kubectl -n $INFRA_NAMESPACE exec cassandra-0 cat -ti -- cat /opt/bitnami/cassandra/logs/cassandra.log > cassandra-container.log || true

          for D in $(kubectl -n $SCHEMA_NAMESPACE get deployments --no-headers -o custom-columns=":metadata.name")
          do
            kubectl -n $SCHEMA_NAMESPACE logs deployment/$D > $D.log || true
          done

      - name: Uploading logs
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: infra-logs
          path: "*.log"
