name: Lint and Test Charts
on: [pull_request]

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.4.1

      # Python is required because `ct lint` runs Yamale (https://github.com/23andMe/Yamale) and
      # yamllint (https://github.com/adrienverge/yamllint) which require Python
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.0.1
        with:
          version: v3.3.0

      - name: Run chart-testing (lint)
        run: |
          helm repo add rabbitmq-ha https://charts.helm.sh/stable
          helm repo add cassandra https://charts.bitnami.com/bitnami
          helm repo add flux https://charts.fluxcd.io
          ct lint \
            --lint-conf=ci/cfg/lint-cfg.yml \
            --check-version-increment \
            --validate-maintainers=false --debug --charts ./th2-service
